<!DOCTYPE html>
<html>
<head>
  <title>ProjectManagement</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body style="background-color:#ffcf4d; float:center; text-align:center">

<center>
<div style="background-color:#ffcf4d; width:50%; min-height:500px; margin-top: 50px">

<table>
<tr><td>

<%= yield %>

</td></tr>
</table>

<div>

</center>

</body>
</html>
