<!DOCTYPE html>
<html>
<head>
  <title>ProjectManagement</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all, :cache=>true %>
  <%= csrf_meta_tag %>
  <link type="text/css" href="/jquery/css/smoothness/jquery-ui-1.8.13.custom.css" rel="Stylesheet" />	
  <!-- script type="text/javascript" src="/jquery/js/jquery-1.4.4.min.js"></script -->
  <script type="text/javascript" src="/jquery/js/jquery-ui-1.8.13.custom.min.js"></script>

</head>
<body style="background-color:white; float:center; text-align:center">
<!-- #ffcf4d -->

<center>
<div style="background-color:white; width:50%; min-height:500px; margin-top: 50px">

<table>
<tr><td>

<%= yield %>

</td></tr>
</table>

<div>

</center>

</body>
</html>
